<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  
  <header>
    <%- include('../partials/header'); %>
  </header>
  
  <main class="mb-3">
    <div class="container">
      <h1 class="display-4 mt-2 mb-4">Recent Logs</h1>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
      </div>
    </div>
    
  </main>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  
</body>
</html>